/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

super-text-field {
    color: var(--obsidian-text);
}

super-text-field::part(label) {
    color: var(--obsidian-accent);
}

super-date-picker {
    color: var(--obsidian-text);
}
