/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.manga-reader {
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 92vh 8vh;
    min-height: 100vh;
    min-width: 100vw;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--miku-background-color-dark);
    padding: 1rem;
    border: 1px solid var(--miku-main-color);
}

.paged-reader {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: var(--miku-background-color);
    padding: 1rem;
    border: 1px solid var(--miku-main-color);
}

.strip-reader {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    object-fit: contain;
    background-color: var(--miku-background-color);
    border: 1px solid var(--miku-main-color);

    /*Scrollbar*/
    scrollbar-color: var(--miku-main-color) var(--miku-background-color-dark);
}

.strip-reader .page-container {
    display: flow;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--miku-background-color-dark);
    padding: 1rem 5rem;
    border: 1px solid var(--miku-main-color);
}

.controls vaadin-text-field {
    max-width: 30%;
    min-width: 15%;

    background-color: var(--miku-background);
}

.controls vaadin-text-field::part(input-field) {
    border-radius: 20px;
}

.controls vaadin-text-field > input {
    text-align: center;
}


.manga-page {
    height: 100%;
    width: auto;

    background: var(--miku-loading) no-repeat center center;
    /* contain */
    object-fit: contain;
}

.swiper-container {
    max-height: 100% !important;
    max-width: 100% !important;
}

.manga-reader .navigation-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.chapter-select {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 3rem;
    gap: 0.5rem;
}

.chapter-select vaadin-combo-box {
    /*make it go smaller when no space is available*/
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 10%;
}

.chapter-select vaadin-combo-box-overlay::part(overlay) {
    color: var(--miku-main-color);
}

.sidebar #settings-btn {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}