/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.reader-settings-dialog::part(content) {
  background-color: var(--miku-background-color-dark);
}

.reader-settings-dialog .button-container {
  display: flex;
  gap: 0.5rem;
}