/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

vaadin-button {
  color: var(--miku-main-color);
  background-color: transparent;
  border: 1px solid var(--miku-main-color);
}

vaadin-button:hover {
  color: var(--miku-main-color);
  background-color: var(--miku-frosted-glass);
  border: 1px solid var(--miku-main-color);
}

vaadin-button[disabled] {
  color: var(--miku-unselected-color);
  background-color: transparent;
  border: 1px solid var(--miku-unselected-color);
}