vaadin-button {
  color: var(--miku-selected-color);
  background-color: transparent;
  border: 1px solid var(--miku-selected-color);
}

vaadin-button:hover {
  color: var(--miku-selected-color);
  background-color: var(--miku-frosted-glass);
  border: 1px solid var(--miku-selected-color);
}