/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.chapter-separator-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--miku-background);
  color: var(--miku-main-color);
  min-height: 100%;
  direction: ltr;
}