/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: var(--miku-loading);
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.2s ease-in-out;
  position: relative;
  cursor: pointer;
  height: 100%;
  aspect-ratio: 2/3;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: 700;
  margin: 0;
  text-align: center;
  z-index: 1;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.7)
  );
  color: #fff;
  height: 10%;
  max-width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow: hidden;
}

.card-img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}