.content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content-fullscreen {
  height: 100vh;
  width: 100vw;
  padding: 0;
}

.fullscreen {
  padding: 0 !important;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.blur {
  filter: blur(5px);
}

h1 {
  color: aliceblue;
}

footer {
  color: aliceblue;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
}

.btn-container {
  border: 0.1rem solid var(--miku-main-color);
  flex-grow: 1;
}

.nav-btn {
  margin-left: 0.5rem;
}