.chapter-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.chapter-image-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  position: relative;
  min-height: 90vh;
  max-height: 90vh;
  width: 100%;
  background: transparent;
  padding-bottom: 1rem;
}

.chapter-image {
  object-fit: contain;
}

.chapter-scroller {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  background: #86cecb;
}

.next-chapter-announcement {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  width: 50vw;
  min-height: 50vh;
  background: #39a7aa;
  align-items: center;
  margin-bottom: 1rem;
}

.next-chapter-announcement .announcement-title {
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 5rem;
}

.next-chapter-announcement .announcement-chapter-number {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}
