.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 100%;
  min-height: 50.5vh;
}

.delete-category-button {
  color: var(--miku-unselected-color);
  background-color: transparent;
  border: transparent;
  padding: 0;
  margin-left: 5px;
}

.delete-category-button:hover {
  border: transparent;
}

.library-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}