.library-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: var(--miku-grid-gap);
  padding: 1rem;
  max-width: 100%;
}

@media (max-width: 720px) {
  .library-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 600px) {
  .library-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .library-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.delete-category-button {
  color: var(--miku-unselected-color);
  background-color: transparent;
  border: transparent;
  padding: 0;
  margin-left: 5px;
}

.delete-category-button:hover {
  border: transparent;
}

.library-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}