/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.extension-buttons {
  display: flex;
  flex-direction: row;
  min-width: 20vw;
  justify-content: space-evenly;
}

.extension-install-btn {
  min-width: 40%;
}

.extension-installed-btn {
  color: var(--miku-selected-color-50);
}

.extensions-view {
  max-height: 100vh;
}