/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.settings-content {
  display: flex;
  justify-content: start;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
}

.settings-view .content {
  flex-direction: row;
}

.settings-view .content .checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--miku-main-color);
  border-radius: 0.5rem;
  width: 99% !important;
  margin-right: 10vw !important;
}

.settings-view .content .checkbox-container .settings-checkbox {
  margin: 0.5rem;
  padding: 0.25rem;
}

.settings-view .button-container vaadin-button {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}

#extension-settings-description {
  color: var(--miku-main-color);
  font-weight: 500;
  padding-bottom: 1rem;
}

#dialog-buttons vaadin-button {
  display: flex;
  align-items: center;
}

#extension-repos-grid {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.settings-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

#no-server-warning {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--miku-main-color);
  font-weight: 500;
  border: 1px solid var(--miku-main-color);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#general-settings-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flare-solverr-settings {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#notification-settings-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#notification-settings-section #notification-buttons {
  display: flex;
  justify-content: center;
}

#notification-settings-section #notification-buttons vaadin-button {
  margin-right: .5rem;
}

.backup-settings {
  display: flex;
  width: 100%;
}

#backup-settings-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 60%;
}

#backup-settings-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

#backup-settings-header {
  display: flex;
  justify-content: center;
  align-content: center;
}

#backup-restore {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--miku-main-color);
  border-radius: 0.5rem;
  margin: .5rem;
  padding: .5rem;
}