/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.source-scroller {
  min-width: 100%;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.extension-cards-grid {
    padding: 0.5rem;
}
