.source-item {
  display: flex;
  flex-direction: row;
  background-color: var(--miku-frosted-glass);
  border-radius: 1rem;
  border: 0.1rem solid var(--miku-unselected-color);
  margin: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.source-item-icon .source-item-icon-img {
  width: 5rem;
  height: 5rem;
}

.source-item-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem;
  color: var(--miku-main-color);
}

.source-item-infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
}

.source-item-buttons {
  margin-right: 2rem;
}