/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.category-tab.drop-target {
  border: 1px dashed var(--miku-main-color);
  background-color: var(--miku-main-color-50);
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
}

.category-tab {
  border: 1px dashed transparent;
  background-color: transparent;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
  margin-left: 0.5rem;
}