/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.blurry-background {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: var(--miku-frosted-glass);
  backdrop-filter: blur(2px);
}