/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.lang-item {
  display: flex;
  background: rgba(162, 234, 231, 0.05);
  border-radius: 0.5rem;
  border-left: 4px solid #86cecb;
  margin: 1.5rem 0.5rem 0.5rem;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
}

.lang-item-title {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #a2eae7;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}