/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

#server-start-view {
  background: var(--miku-background);
  background-size: 600% 600%;
  animation: gradient 45s ease infinite;
  display: grid;
  align-items: center;
  min-height: 100%;
}

.waiting-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.waiting-update {
  color: var(--miku-main-color);
  font-size: 1.2rem;
  border: 0.1rem solid var(--miku-main-color);
  margin-top: 1rem;
}

.waiting-progress-container {
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-self: center;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.waiting-label {
  color: var(--miku-main-color);
  font-size: 1.2rem;
  margin-top: 1rem;
}

.waiting-bar::part(bar) {
  background-color: var(--miku-frosted-glass);
}

.waiting-bar::part(value) {
  --lumo-progress-indeterminate-progress-bar-background: linear-gradient(to left, var(--miku-main-color), var(--miku-main-color));
  --lumo-progress-indeterminate-progress-bar-background-reverse: linear-gradient(to right, var(--miku-main-color), var(--miku-main-color));
  background-color: var(--miku-main-color);
}

.waiting-bar::part(value)::before {
  background-color: var(--miku-main-color);
}

.waiting-settings-btn {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}