/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.manga-search-result {
    display: flex;
    flex-direction: column;
}

.manga-search-result-upper-half {
    display: flex;
    flex-direction: row;
}

.manga-search-result-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1vw;
}

.manga-search-result img {
    max-height: 20vh !important;
    max-width: 20vw !important;
    min-width: 1vw;
    min-height: 1vh;
    width: auto;
    height: auto;
}

.manga-search-result {
    color: var(--miku-main-color);
}

.manga-search-result-attribute {
    padding: 0;
    margin: 0;
    color: var(--miku-main-color);
}

.manga-search-result-attribute label {
    color: var(--miku-main-color);
}

.manga-search-results {
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 50vw;
    /*Hide scroll bar*/
    overflow: hidden;
}

.manga-search-results vaadin-item[selected] {
    background-color: var(--miku-selected-color-50);
}

.manga-search-results::part(items) {
    overflow-y: hidden;
}

.tracking-dialog-statistics {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1rem;
}

.tracking-dialog-statistics > .two-span {
    grid-row: 1 / 2;
    grid-column: span 2;
}

.tracking-dialog-statistics > .three-span {
    grid-row: 2 / 3;
    grid-column: span 3;
}

#no-search-results-text {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--miku-main-color);
}

.tracking-manga-choice-dialog::part(footer) {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.tracking-dialog-remove-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#tracking-dialog-tracker-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}