/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.settings-content {
  display: flex;
  justify-content: start;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
}

.settings-view .content {
  flex-direction: row;
}