/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.settings-content {
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
}

.settings-view .content {
    flex-direction: row;
}

.settings-view .content .checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--miku-main-color);
    border-radius: 0.5rem;
    padding: 1rem;
    width: 99% !important;
    margin-right: 10vw !important;
}

.settings-view .button-container vaadin-button {
    margin-left: 0.125rem;
    margin-right: 0.125rem;
}

#extension-settings-description {
    color: var(--miku-main-color);
    font-weight: 500;
    padding-bottom: 1rem;
}

#dialog-buttons vaadin-button {
    display: flex;
    align-items: center;
}

#extension-repos-grid {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#settings-extension-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#no-server-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--miku-main-color);
    font-weight: 500;
    border: 1px solid var(--miku-main-color);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}