/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.source-explore-container {
  display: grid;
  width: 100%;
}

.source-explore-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  width: 100vw;
  justify-content: center;
}

.source-explore-buttons vaadin-button {
  margin: 0.5rem;
}