.explore-scroller-manga-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  width: 95%;
  margin-right: 0;
  justify-self: center;
}

.explore-scroller {
  display: grid;
  width: 100%;
  overflow-x: hidden;
  min-height: 80vh;
  max-height: 88vh;
}