/* Hatsune Miku theme */
@import "./components/list-box.css";
@import "./components/tab-sheets.css";
@import "./components/dialog.css";
@import "./components/text-field.css";
@import "./components/buttons.css";
@import "./components/combo-box.css";
@import "./components/superfields/super-text-field.css";

html {

  --lumo-header-text-color: hsl(193, 62%, 89%);

  --miku-background: linear-gradient(302deg, #e12885, #137a7f, #86cecb);

  --miku-highlight-color: rgba(108, 225, 180, 0.5);
  --miku-main-color: rgb(210, 237, 244);
  --miku-selected-color-10: rgba(210, 237, 244, 0.1);
  --miku-selected-color-20: rgba(210, 237, 244, 0.2);
  --miku-selected-color-50: rgba(210, 237, 244, 0.5);

  --miku-unselected-color: rgb(55, 59, 62);
  --miku-unselected-color-10: rgba(55, 59, 62, 0.1);
  --miku-unselected-color-20: rgba(55, 59, 62, 0.2);
  --miku-unselected-color-50: rgba(55, 59, 62, 0.5);

  --miku-frosted-glass: rgba(255, 255, 255, 0.1);
  --miku-frosted-glass-80: rgba(255, 255, 255, 0.8);

  --miku-frosted-glass-blue: rgb(0, 255, 246, 0.2);

  --miku-error-color-10: rgba(225, 40, 133, 0.1);
  --miku-error-color-20: rgba(225, 40, 133, 0.2);
  --miku-error-color-50: rgba(225, 40, 133, 0.5);

  --miku-background-color: rgb(134, 206, 203);

  --miku-background-color-dark: hsl(177, 22%, 50%);


  /*dark*/
  --miku-selected-dark-color: hsl(193, 62%, 29%);

  --miku-highlight-color-dark: rgb(19, 93, 65);

  --miku-error-color-dark: rgba(140, 19, 80, 0.2);
}

#container {
  display: flex;
  flex-direction: column;
  background: var(--miku-background);
  background-size: 600% 600%;

  min-height: 100vh;

  animation: gradient 45s ease infinite;

}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
