/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

vaadin-checkbox > label {
    color: var(--miku-main-color);
    font-weight: 500;
}

vaadin-checkbox::part(checkbox) {
    border: 1px solid var(--miku-main-color);
    background-color: var(--lumo-shade-20pct)
}

vaadin-checkbox[checked]::part(checkbox) {
    background-color: var(--miku-frosted-glass-20)
}

vaadin-checkbox::part(checkbox)::after {
    color: var(--miku-main-color);
}