/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

vaadin-combo-box > input {
  color: var(--miku-main-color);
}

vaadin-combo-box > label {
  color: var(--miku-main-color);
}

vaadin-combo-box::part(input-field) {
  border: var(--miku-main-color) 1px solid;
}

vaadin-combo-box::part(toggle-button) {
  color: var(--miku-main-color);
}
vaadin-combo-box[disabled]::part(input-field) {
  border: var(--miku-unselected-color) 1px dashed
}

vaadin-combo-box[readonly]::part(input-field) {
  border: none;
  --vaadin-input-field-readonly-border: var(--miku-unselected-color) 1px dashed !important;
}