/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.explore-scroller-manga-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: var(--miku-grid-gap);
  width: 95%;
  margin-right: 0;
  justify-self: center;
}


@media (max-width: 720px) {
  .explore-scroller-manga-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 500px) {
  .explore-scroller-manga-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 300px) {
  .explore-scroller-manga-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.explore-scroller {
  display: grid;
  width: 100%;
  overflow-x: hidden;
  min-height: 80vh;
  max-height: 88vh;
}